<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>6611069556-qsehbjoki9l6l31sk7e4kglkfjvjofub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6611069556-qsehbjoki9l6l31sk7e4kglkfjvjofub</string>
	<key>API_KEY</key>
	<string>AIzaSyDM2ghD0mW8u6uWn6m3Zp6yq7-F7z5_6oE</string>
	<key>GCM_SENDER_ID</key>
	<string>6611069556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactfirebase.reactfirebaseexample</string>
	<key>PROJECT_ID</key>
	<string>react-firebase-baecd</string>
	<key>STORAGE_BUCKET</key>
	<string>react-firebase-baecd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6611069556:ios:855aece9994893c6</string>
	<key>DATABASE_URL</key>
	<string>https://react-firebase-baecd.firebaseio.com</string>
</dict>
</plist>